nav {
    position: absolute;
    height: 10vh;
    width: 100%;
    z-index: 1;
    width: calc(100% - 200px);
    margin: 10px 100px;
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.logo-container {
    display: flex;
    justify-content: center;
    align-items: center;
    height: 10vh;
    width: 10vh;
}

.logo {
    height: 100%;
    width: 100%;
    object-fit: cover;
    border-radius: 50%;
}

.nav-links {
    display: flex;
    justify-content: space-between;
    align-items: center;
    width: 20vw;
}

.nav-links > a {
    text-decoration: none;
    color: black;
    font-size: 1.5rem;
    font-weight: 500;
}